#menu {
    background-color: #f8ff00;
    font-family: cursive;
}

#ssilki, #form {
    background-color: #f8ff00;
    font-family: cursive;
}

header main, header aside {
    background-color: #f8ff00;
    font-family: cursive;
    height: 100%;
}

table td, th{
  border: 2px solid black;
}

table {
  width: 100%;
  font-family: cursive;
}

.nechet {
    background-color: #f8ff00;
}

.chet{
    background-color:#00ff21;
}

footer {
    background-color: #f8ff00;
    font-family: cursive;
}

@media screen and (min-width: 800px) {
    #table :nth-child(2){
        order: 3;
      }
      
    #form :nth-child(3){
        order: 2;
      }
  }
